html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-image: url("../../img/brush.png");
}

#animationSection {
  position: relative;
  text-align: center;
  height: 100%;
}

#animationSection h1{
  position: relative;
  margin: 0;
  font-size: 32px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}
#containerBlock #pictureNameAnimation {
  margin-top: 25%;
  position: relative;
  width: 20%;
  height: 20%;
}
#logoAnimation{
  width: 10%;
  position: relative;
  text-align: center;
  margin-top: 1%;
}

#containerBlock{
  position: relative;
}

footer {
  background-color: #564865;
}