html, body {
  margin: 0;
  padding: 0;
  height: 1000px;
  overflow: hidden;
}

#wallpaperSection {
  height: 100%;
  background-image: url("../../img/brush.png");
}

#animationSection {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animationSection img {
  width: 0%;
  height: 0%;
}

footer {
  background-color: #564865;
}
