body{
	margin: 0;
	padding: 0;
	background: url('../Background.png') no-repeat;
}

.mult{
  mix-blend-mode: multiply;
}

#a3h{
}

#b1l{ 
	transform-origin: (100,200);
}

#containerAnim{
	margin: 0 auto;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
}
#containerAnim h2{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 28px;
	color: #3BB889;
	position: relative;
	display: inline-block;
}

#pageContainer{
	overflow: hidden;
}
#text{
	width: 500px;
	height: 200px;
	margin-left: 20%;
}
#text h1{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 800;
	font-size: 28px;
	position: relative;
	display: inline-block;
	color: #FCB915;
}

#formContainer{
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 30px;
}

#formContainer h1{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 800;
	font-size: 28px;
	position: relative;
	display: inline-block;
	color: #FCB915;
}

#text p{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 28px;
}

#containerImg{
	position: absolute;
	width: 500px;
	margin: 0 auto;
	border: 2px solid red;
}

#circleGreen{
	position: absolute;
	right: -150px;
	top: 5%;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: #3BB889;
}

#circlePink{
	position: absolute;
	left: -20px;
	bottom: 15%;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: #DA3F8A;
}

#circleBlue{
	position: absolute;
	left: 10%;
	bottom: -6%;
	height: 190px;
	width: 190px;
	border-radius: 50%;
	background-color: #33B0E5;
}

#circleYellow{
	position: absolute;
	right: -50px;
	top: 45%;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color: #FCB915;
}
