body, html{
	margin: 0;
	padding: 0;
}

.mult{
  mix-blend-mode: multiply;
}

#a3h{
}

#b1l{ 
	transform-origin: (100,200);
}

#containerAnim{
	margin: 0 auto;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
}
#containerAnim h2{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 28px;
	color: #3BB889;
	position: relative;
	display: inline-block;
}

#pageContainer{
	overflow: hidden;
}
#text{
	width: 500px;
	height: 200px;
	margin-left: 100px;
}
#text h1{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 800;
	font-size: 28px;
	position: relative;
	display: inline-block;
	color: #FCB915;
}

#formContainer{
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 30px;
}

#formContainer h1{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 800;
	font-size: 28px;
	position: relative;
	display: inline-block;
	color: #FCB915;
}

#text p{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 21px;
}

#containerImg{
	position: absolute;
	width: 500px;
	margin: 0 auto;
	border: 2px solid red;
}